/*
* Desktop
*/

body.dropdown-open .dropdown-overlay {
	display: none;
}
ul.mainmenu-nav li span.counter {
	left: 3.125em;
	right: unset;
	top: .95em;
}
ul.mainmenu-nav .dropdown-menu li span.counter {
	left: 2.75em;
	top: .5em;
}
nav#layout-mainmenu.navbar-mode-inline ul.mainmenu-nav li, nav#layout-mainmenu.navbar-mode-inline_no_icons ul.mainmenu-nav li {
	margin: 0;
}
nav#layout-mainmenu.navbar-mode-inline ul.mainmenu-nav li a, nav#layout-mainmenu.navbar-mode-inline_no_icons ul.mainmenu-nav li a {
	padding: 14px 15px;
}
nav#layout-mainmenu.navbar-mode-inline ul.mainmenu-nav li.dropdown-container,
nav#layout-mainmenu.navbar .dropdown-menu .dropdown-container li:first-child {
	margin-left: 0;
}
nav#layout-mainmenu ul:not(.dropdown-menu) {
    overflow: hidden;
}
nav#layout-mainmenu ul,
nav#layout-mainmenu .dropdown-menu ul {
	overflow: unset;
}
nav#layout-mainmenu .dropdown-menu {
	padding-top: 8px;
}
nav#layout-mainmenu .dropdown-menu .dropdown-container {
	background-color: #000;
    margin: 8px 0;
    border-radius: 3px;
}
nav#layout-mainmenu .dropdown-menu .dropdown-container > ul {
	background-color: #000;
}
nav#layout-mainmenu .dropdown-menu .dropdown-container .dropdown-title {
	display: none;
}
nav#layout-mainmenu.navbar ul.mainmenu-nav .dropdown-menu .nav-icon {
	width: 25px;
	display: inline-block;
	text-align: center;
}
nav#layout-mainmenu .dropdown-menu .dropdown-container li {
	display: inherit;
}
nav#layout-mainmenu .dropdown-menu .dropdown-container li a i {
	font-size: 20px;
}
nav#layout-mainmenu.navbar .dropdown-menu .dropdown-container li a {
	display: block;
	color: rgba(255,255,255,.6) !important;
	padding: 4px 15px;
}
nav#layout-mainmenu.navbar .dropdown-menu .dropdown-container li:first-child a {
	padding-top: 10px;
}
nav#layout-mainmenu.navbar .dropdown-menu .dropdown-container li:last-child a {
	padding-bottom: 8px;
}
nav#layout-mainmenu.navbar .dropdown-menu .dropdown-container li.active a,
nav#layout-mainmenu.navbar .dropdown-menu .dropdown-container li a:hover,
nav#layout-mainmenu.navbar .dropdown-menu .dropdown-container li a:focus {
	color: #fff !important;
	font-weight: normal;
}

nav#layout-mainmenu .nav .open > a, 
nav#layout-mainmenu .nav .open > a:focus, 
nav#layout-mainmenu .nav .open > a:hover {
	background-color: transparent;
	border-color: transparent;
}

nav#layout-mainmenu .dropdown-menu .dropdown-container > ul::after {
	border-bottom: 8px solid #000;
}

/*
 * Mobile
 */
@media (max-width: 767px) {
	.layout > .layout-cell.layout-sidenav-container {
		display:none;
	}
}
.mainmenu-collapsed > div ul.mainmenu-nav li span.counter {
	left: 3.75em;
	top: 0.125em;
}
.mainmenu-collapsed > div ul.mainmenu-nav li .dropdown-menu li span.counter {
	top: .25em;
	left: 2em;
}
.mainmenu-collapsed > div ul {
	padding: 5px 0;
}
.mainmenu-collapsed > div ul.mainmenu-nav li {
	display: block;
	margin-right: 11px;
}
.mainmenu-collapsed > div ul.mainmenu-nav li a {
	width: 100%;
	height: auto;
	padding: 5px 0;
}
.mainmenu-collapsed > div ul.mainmenu-nav li a .nav-icon, .mainmenu-collapsed > div ul.mainmenu-nav li a .nav-label {
	display: inline-block;
	position: relative;
	inset: unset;
	height: auto;
	margin: 0;
	line-height: 30px;
	vertical-align: middle;
}
.mainmenu-collapsed > div ul.mainmenu-nav li a .nav-icon {
	width: 40px;
}
.mainmenu-collapsed > div ul.mainmenu-nav li a .nav-label {
	width: auto;
	text-align: left;
	max-width: 143px;
	line-height: inherit;
}
.mainmenu-collapsed > div ul.mainmenu-nav li:hover .nav-label {
	min-width: unset;
}
.mainmenu-collapsed > div .nav .open > a, 
.mainmenu-collapsed > div .nav .open > a:focus,
.mainmenu-collapsed > div .nav .open > a:hover {
	background-color: transparent;
}
.mainmenu-collapsed > div ul.mainmenu-nav li .dropdown-menu {
	position: relative;
	inset: unset;
	float: none;
	margin-right: -11px;
	box-shadow: -16px 0px 0px -15px rgba(255,255,255,0.6);
	margin-left: 15px;
}
.mainmenu-collapsed > div ul.mainmenu-nav li .dropdown-menu li {
	margin: 0;
	padding: 0;
}
.mainmenu-collapsed > div ul.mainmenu-nav li ul.dropdown-menu > li {
	padding-left: 8px;
}
.mainmenu-collapsed > div ul.mainmenu-nav li .dropdown-container > ul {
	position: relative;
	background-color: transparent;
	margin: 0;
	border-radius: unset;
	box-shadow: unset;
	inset: unset;
}
.mainmenu-collapsed > div ul.mainmenu-nav li .dropdown-menu li a {
	color: rgba(255,255,255,0.6) !important;
}
.mainmenu-collapsed > div ul.mainmenu-nav li .dropdown-menu li.active a {
	color: #fff !important;
	font-weight: normal;
}
.mainmenu-collapsed > div ul.dropdown-menu li a .nav-icon {
	width: 30px;
}
.mainmenu-collapsed > div ul.dropdown-menu li a i {
	font-size: 20px;
}
.mainmenu-collapsed > div ul.mainmenu-nav li .dropdown-menu .dropdown-container > ul li a:active,
.mainmenu-collapsed > div ul.mainmenu-nav li .dropdown-menu .dropdown-container > ul li a:focus,
.mainmenu-collapsed > div ul.mainmenu-nav li .dropdown-menu .dropdown-container > ul li a:hover {
	background-color: transparent;
	color: #fff !important;
}
@media (max-width: 480px) {
	body.dropdown-open .mainmenu-collapsed > div ul.mainmenu-nav li.dropdown-menu {
		overflow: hidden;
		position: relative;
	}
}
.bg-white{background-color:#fff!important}
.btn-icon.success:hover::before {
	color: #31ac5f;
}
/* Icons */
.icon-id-badge::before, .oc-icon-id-badge::before, .wn-icon-id-badge::before {
	font-weight: 700;
}
.icon-id-badge-o::before, .oc-icon-id-badge-o::before, .wn-icon-id-badge-o::before {
	font-family: Font Awesome\ 6 Free;
	font-weight: 400;
}
:is(.icon-id-badge-o, .wn-icon-id-badge-o, .oc-icon-id-badge-o)::before {
	content: "\f2c1";
}
.dropdown-menu .dropdown-container>ul li a[class^="wn-icon-"]::before,
.dropdown-menu .dropdown-container>ul li a[class*=" wn-icon-"]::before,
.dropdown-menu .dropdown-container>ul li a[class^="oc-icon-"]::before,
.dropdown-menu .dropdown-container>ul li a[class*=" oc-icon-"]::before {
	color: inherit;
}

.checkbox-field[class^="wn-icon-"]::before,
.checkbox-field[class*=" wn-icon-"]::before,
.checkbox-field[class^="oc-icon-"]::before,
.checkbox-field[class*=" oc-icon-"]::before {
	margin-right: 0;
	float: left;
	margin-left: 30px;
}

.checkbox-field[class^="wn-icon-"] .custom-checkbox label::before,
.checkbox-field[class*=" wn-icon-"] .custom-checkbox label::before,
.checkbox-field[class^="oc-icon-"] .custom-checkbox label::before,
.checkbox-field[class*=" oc-icon-"] .custom-checkbox label::before {
	left: -20px;
}

.switch-field[class^="wn-icon-"]::before,
.switch-field[class*=" wn-icon-"]::before,
.switch-field[class^="oc-icon-"]::before,
.switch-field[class*=" oc-icon-"]::before {
	margin-right: -80px;
	float: left;
	margin-left: 80px;
	margin-top: 2px;
}

.section-field[class^="wn-icon-"]::before,
.section-field[class*=" wn-icon-"]::before,
.section-field[class^="oc-icon-"]::before,
.section-field[class*=" oc-icon-"]::before {
	margin-top: 2px;
	float: left;
	color: rgba(0,0,0,.6);
}

.section-field[class^="wn-icon-"] .field-section h4,
.section-field[class*=" wn-icon-"] .field-section h4,
.section-field[class^="oc-icon-"] .field-section h4,
.section-field[class*=" oc-icon-"] .field-section h4 {
	margin-left: 25px;
}

/* Section icon size */
.h1.section-field[class^="wn-icon-"]::before,
.h1.section-field[class*=" wn-icon-"]::before,
.h1.section-field[class^="oc-icon-"]::before,
.h1.section-field[class*=" oc-icon-"]::before {
	margin-top: 8px;
	font-size: 30px;
}
.h2.section-field[class^="wn-icon-"]::before,
.h2.section-field[class*=" wn-icon-"]::before,
.h2.section-field[class^="oc-icon-"]::before,
.h2.section-field[class*=" oc-icon-"]::before {
	margin-top: 8px;
	font-size: 24px;
}
.h3.section-field[class^="wn-icon-"]::before,
.h3.section-field[class*=" wn-icon-"]::before,
.h3.section-field[class^="oc-icon-"]::before,
.h3.section-field[class*=" oc-icon-"]::before {
	margin-top: 8px;
	font-size: 18px;
}
.h4.section-field[class^="wn-icon-"]::before,
.h4.section-field[class*=" wn-icon-"]::before,
.h4.section-field[class^="oc-icon-"]::before,
.h4.section-field[class*=" oc-icon-"]::before {
	margin-top: 5px;
	font-size: 14px;
}
.h5.section-field[class^="wn-icon-"]::before,
.h5.section-field[class*=" wn-icon-"]::before,
.h5.section-field[class^="oc-icon-"]::before,
.h5.section-field[class*=" oc-icon-"]::before {
	margin-top: 4px;
	font-size: 12px;
}
.h6.section-field[class^="wn-icon-"]::before,
.h6.section-field[class*=" wn-icon-"]::before,
.h6.section-field[class^="oc-icon-"]::before,
.h6.section-field[class*=" oc-icon-"]::before {
	margin-top: 3px;
	font-size: 10px;
}

/* Section title size */
.h1 .field-section > h4 {
	font-size: 36px;
}
.h2 .field-section > h4 {
	font-size: 30px;
}
.h3 .field-section > h4 {
	font-size: 24px;
}
.h4 .field-section > h4 {
	font-size: 18px;
}
.h5 .field-section > h4 {
	font-size: 14px;
}
.h6 .field-section > h4 {
	font-size: 12px;
}

.h1.section-field,
.h2.section-field,
.h3.section-field,
.h4.section-field,
.h5.section-field,
.h6.section-field {
	margin-top: 0;
}

/* Lists */
table.table.data thead .table-totals span {
	text-align: right;
	padding-left: 15px;
	padding-right: 15px;
}
.popup-backdrop {
	z-index: 600;
}
.breadcrumb-buttons {
	margin-top: 0.75rem;
	margin-right: 3.5rem;
	float: right;
}
  